@import url("https://fonts.googleapis.com/css2?family=Joan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: cornsilk;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.title {
    font-family: "Joan", sans-serif;
    font-size: clamp(2rem, 4vw, 4rem);
    font-weight: bold;
    color: #425612;
    text-align: center;
}

.content-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding: 2rem clamp(2rem, 4vw, 4rem);
}

.content {
    font-family: "Roboto", sans-serif;
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 0.5rem;
    padding: 5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease;
}

.content:nth-of-type(even) {
    transform: translateX(400%);
}

.content:nth-of-type(odd) {
    transform: translateX(-400%);
}

.content.active {
    transform: translateX(0);
}

.content-title {
    font-size: clamp(1.4rem, 4vw, 2.2rem);
    font-weight: bold;
    color: white;
    margin-bottom: 0.5rem;
}

.content-text {
    font-size: clamp(1rem, 4vw, 1.4rem);
    color: #fff;
    margin-top: 0.5rem;
}
